@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Force the React Root to take full width and height */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: left; /* Stop everything from centering text by default */
}

/* Ensure the app container stretches too */
.App {
  width: 100%;
  height: 100%;
}
